.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #5f687a;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.msgdisplay {
  
  margin-top: -81.3%;
  margin-left:30%;
  overflow-y: scroll;
  position: relative;
  top: 44px;
  border:2px solid rgb(10, 9, 17);
  background-color:rgba(255, 255, 255, 0.425);
  width: 800px;
  height :470px;
  overflow-x: hidden;

}
.box
{
  height: 337px;
  background-color: lightgrey;
  width: 300px;
  margin-left: 43px;
  border: 3px solid rgb(14, 17, 14);
  padding: 5px;
  margin: 30px;
  overflow:scroll;

}
.containerButton {
  margin-top: 0%;
  margin-left: 30%;
  margin-right: 52%;
  position: relative;
    top: 56px;
  width: 730px;
  display: grid;
  margin:normal;
  text-decoration-color:black;
  background-color: #d4d8e0;
}
.dashboard{
  
  padding: 100px 400px;
  margin-top:200px;
  position: relative;
  margin-right: 400px;
  display: flex;
  margin-top: -1%;
  margin-left: -1%;
  width: 390px;
  margin:normal;
  height: 347px;
}
.grow {
  flex-grow: 1;
}
.sendbutton{
  
  margin-top: 1%;
  margin-left: 89%;
  margin-right: 40%;
  display: flex;
  justify-content: space-between;
}
#button{
  margin-left: 40%;
  margin-right: 40%;
  display: flex;
  justify-content: space-between;
}
.logoutbutton
{
  margin-left:93%;
 margin-top: -5%;
}
.button
{
   margin-top:250px;
  padding: 10px 40px;
}
#buttonalign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 400px;
  margin-top: 30px;
  margin-right: 400px;
}
.button1
{
  margin-left: 80px;
  margin-top:40px;
  padding: 15px 40px;
}
.dropdown
{
  margin-left: -100%;
  margin-top:-80px;
  padding: 35px 40px;
  
}
#forgetbutton{
  margin-top: 6px;
      margin-left: 24px;
  }

.TextField{
  
  text-justify: auto;
  height: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;


  text-align: center;
  margin : auto;
  background-color: #7a859b;
  color: #61dafb;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
.Input-Field{

  height: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;

  text-align: center;
  margin : auto;
  background-image: url('../src/assets/image.png');

  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
input{
  padding: 10px 41px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.root{
  background-image: url('../src/assets/image.png');
  overflow-x: hidden;
}
.sender-div{
  margin-left: 540px;
  background-color: rgba(185, 176, 179, 0.5);
  border-radius: 20px;
  width: 190px;
  padding: 20px;
  margin-bottom: 10px
}
.receiver-div{
  background-color: rgb(165, 154, 157) ;
  border-radius: 20px;
  width: 190px;
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 7px;
}
.message {
  align-items  : center,
}
